@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;
    --gray-700: #0D0D0D;
    --purple: #8284FA;
    --purple-dark: #5E60CE;
    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

body {
    height: 100vh;
    background-color: var(--gray-600); 
    z-index: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -130px;
}

.top-part {
    height: 200px;
    z-index: 1;
    background-color: var(--gray-700);
    display: flex;
}

.bottom-part {
    display: flex;
    justify-content: center;
}

    /* === App === **/

.logo-app {
    width: 126px;
    height: 48px;
    background-image: url('./assets/logo.png');
}

.search-wrapper {
    margin-top: 52px;
    display: flex;
    flex-direction: row;
}

.search-bar {
    height: 54px;
    width: 32.5vw;
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    padding-left: 16px;
    font-size: 16px;
}

.search-bar:focus {
    outline: none;
    border: none;
    height: 50px;
    width: 32.3vw;
    border: 3px solid var(--blue-dark);
    padding-left: 16px;
}

button {
    display: flex;
    padding: 16px;
    align-items: center;
    background-color: var(--blue-dark);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    color: var(--gray-100);
    margin-left: 8px;
}

.add-button {
    width: 16px;
    height: 16px;
    background: url('./assets/add.svg');
    margin-left: 8px;
}

.task-section {
    margin-top: 64px;
    width: 100%;
}

.task-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-section ul li {
    list-style-type: none;
    font-weight: 700;
    color: var(--blue);
}

.task-section ul li span {
    padding: 2px 8px;
    background-color: var(--gray-400);
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
    color: var(--gray-200);
}

.task-list {
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
}

.task-list-icon {
    width: 56px;
    height: 56px;
    background: url('./assets/clipboard.svg');
}

.task-list p {
    color: var(--gray-300);
    font-size: 16px;
}

.task-list-not-message {
    margin: 16px 0 2px 0;
    font-weight: 700;
}